/* Classes */

/* Animated icons */
.animated-icon-1 {
    --_icon-size: 4rem;
    height: var(--_icon-size);
    width: var(--_icon-size);
    border: 4px solid #141c22;
    border-radius: 100vw;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: spinner 1s ease-in-out forwards infinite; 
}

.animated-icon-2 {
    --_icon-size: 4rem;
    height: var(--_icon-size);
    width: var(--_icon-size);
    border: 4px solid #141c22;
    border-radius: 100vw; 
    animation: bounce 1s cubic-bezier(0.15, 0.41, 0.34, 1.03) alternate infinite;
}

.animated-icon-3 {
    --_icon-size: 1rem;
    height: var(--_icon-size);
    width: var(--_icon-size);
    background-color: #141c22;
    border-radius: 100vw; 
    animation: bounce 1s cubic-bezier(0.15, 0.41, 0.34, 1.03) alternate infinite;
}

/* Three dot bounce */
.three-dots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.bounce-1 {
    animation: bounce 1s cubic-bezier(0.15, 0.41, 0.34, 1.03) alternate infinite;
}
.bounce-2 {
    animation: bounce 1s cubic-bezier(0.15, 0.41, 0.34, 1.03) alternate infinite 200ms;
}
.bounce-3 {
    animation: bounce 1s cubic-bezier(0.15, 0.41, 0.34, 1.03) alternate infinite 400ms;
} 

/* animations */

@keyframes spinner {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4rem);
    }
    100% {
        transform: translateY(0);
    }
}

 